.control-view-container {
    @apply h-auto flex flex-col sm:flex-row text-white rounded-lg gap-5 md:gap-7 lg:gap-8 justify-center flex-wrap;
    overflow: hidden;

    .card-item {
        @apply flex flex-col h-auto w-full text-white rounded-lg p-5 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4;
        border: 1px solid #242424;
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
        background: var(--color-card-bg);

        .card-header {
            @apply flex flex-col h-auto flex-none justify-between pb-5;
            border-bottom: 1px solid #242424;
        }

        .card-body {
            @apply flex flex-1 flex-col justify-between pt-5;

            .item-data {
                @apply flex flex-row justify-between bg-data-bg m-2 px-3 py-2;
                border-radius: 5px;
                background-color: var(--color-data-bg);
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
                color: var(--color-card-label);

                &.item-system-data {
                    @apply flex flex-col;
                }
            }
        }

        .card-tool {
            @apply flex flex-row flex-none h-auto justify-between w-full gap-3 mt-5 pt-5 items-center;
            border-top: 1px solid #242424;

            .control-button {
                @apply w-full cursor-pointer sm:w-40 p-3 text-sm text-dark rounded-md font-bold;
            }
            .edit-button {
                @apply rounded-md cursor-pointer bg-light-gray h-12 w-12 flex items-center justify-center;
            }
            .delete-button {
                @apply rounded-md cursor-pointer h-8 w-8 flex items-center justify-center;
            }
        }

        .new-item {
            @apply text-light-dark flex flex-col justify-center items-center;
            .button-add-item > svg{
                @apply block w-full h-56;
            }
            .text {
                @apply text-xl;
            }
        }
    }

    .system-details {
        @apply flex flex-row justify-between text-lg font-bold items-center;
        .edit-button {
            @apply rounded-md cursor-pointer bg-no-repeat h-10 w-10 flex items-center justify-center;
        }
    }

    .timer-count {
        @apply text-center text-5xl w-40 text-green;
        border-bottom: 1px solid darkslategray;
        font-family: 'Akatab-Black', sans-serif;
    }

    .input-range {
        @apply w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700;
    }

}

