/* === Global Styles === */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans", sans-serif;
    background: #f7f6f6;
    color: #032e3b;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

h1, h2 {
    font-size: 18px;
}

.text-success {
    color: #13bf1a;
    margin: 1.5rem 0;
}

.error-text {
    color: #ff0000;
    font-weight: bold;
    margin: 1.5rem 0;
}

label, #status, #t-status, #time {
    font-weight: 500;
}

#t-status {
    margin: 0 !important;
}

header {
    background: #032e3b;
    color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

nav a {
    text-decoration: none;
    color: #ccdae7;
}

nav a:hover {
    color: #e7eff1;
}

#menu-toggle {
    display: none;
}

.nav-icon {
    cursor: pointer;
}

.nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 0;
    background: rgba(20, 20, 20, 0.9);
    width: 250px;
    padding: 1rem 0;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: right;
    height: 50%;
}

#menu-toggle:checked + .nav-icon + .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

footer {
    font-size: 0.9rem;
    color: #2d2929;
    padding: 1rem;
    background: rgb(241, 241, 241);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.version, .disk {
    font-size: 0.8rem;
    color: #666;
    font-weight: 600;
    font-style: normal;
}

.version span:after, .disk span:after {
    content: " | ";
}

.version span:last-child:after, .disk span:last-child:after {
    content: "";
}

.version b {
    color: #c90400;
}

.hidden {
    display: none;
}

/* === Buttons === */
button, .secondary-button {
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Noto Sans", sans-serif;
}

button {
    background: #c90400;
    color: #f7f6f6;
}

button:hover {
    background: #e52725;
}

.secondary-button {
    background: #ccc;
    color: #333;
}

.secondary-button:hover {
    background: #bbb;
}

select, input[type=number], input, input[type="url"] {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f7f6f6;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
}

select:focus, input:focus, input[type="number"]:focus, input[type="url"]:focus {
    border-color: #a9a9a9;
    box-shadow: 0 0 5px rgb(173 173 173 / 50%);
    outline: none;
}

@media screen and (min-width: 768px) {
    header {
        padding: 1.25rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    .nav-items {
        top: 102px;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 3rem;
        max-width: 1200px;
        margin: 0 auto;
    }
    h1 {
        font-size: 2rem;
    }
    .nav-items {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: transparent;
        width: auto;
        padding: 0;
        box-shadow: none;
        gap: 2rem;
    }
    .nav-icon {
        display: none;
    }
    #menu-toggle {
        display: none;
    }
}