@import url("./modal.css");
@import url("page-header.css");
@import url("./system-control-view.css");
@import url("./welcome.css");

@import "tailwindcss";

@theme {
    --color-dark: #101010;
    --color-light-dark: #242424;
    --color-orange: #FF6600;
    --color-green: #7CEB1A;
    --color-purple: #6B34CB;
    --color-light-purle: #C3A0FF;
    --color-light-gray: #e7e7e7;
    --color-modal-bg: #000000cc;
    --color-input: #151515;
}

@font-face {
    font-family: 'Akatab-Black';
    src: url('fonts/Akatab-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-Bold';
    src: url('fonts/Akatab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-ExtraBold';
    src: url('fonts/Akatab-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-Medium';
    src: url('fonts/Akatab-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-Regular';
    src: url('fonts/Akatab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-SemiBold';
    src: url('fonts/Akatab-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Michroma';
    src: url('fonts/Michroma-Regular.ttf') format('truetype');
}

/*TO DO: for enhancement, please make a block for defaults*/
body {
    font-family: 'Akatab-Regular', sans-serif;
}

.page-main {
    @apply flex flex-col h-dvh bg-dark h-dvh p-5 flex flex-col bg-dark;
    font-family: 'Akatab-Regular', sans-serif;
}

.container-nav {
    @apply flex-none;
}

.container-header {
    @apply flex-none;
}

.container-toolbar {
    @apply flex-none h-15;
}

.container-body {
    @apply flex-1 overflow-auto;
}
.nav-item {
    @apply size-12 bg-cover;
}

.page-body {
    @apply h-full;
}

.page-bottom {
    @apply flex flex-row h-full justify-between text-center pt-4 sm:w-90 sm:m-auto;
    .button {
        @apply w-40 h-auto p-3 flex items-center justify-center text-sm rounded-lg gap-2;
        font-family: 'Akatab-Bold', sans-serif;
    }
}

.button {
    @apply min-w-25 cursor-pointer sm:w-40 h-auto p-3 flex items-center justify-center text-sm rounded-lg gap-2;
    font-family: 'Akatab-Bold', sans-serif;
}