@import "@src/styles/modal.css";
@import "@src/styles/page-header.css";
@import "@src/styles/card-style.css";
@import "@src/styles/welcome.css";

@import "tailwindcss";

@theme {
    --color-dark: #0a0a0a;
    --color-light-dark: #242424;
    --color-orange: #FF6600;
    --color-green: #7CEB1A;
    --color-purple: #6B34CB;
    --color-light-purple: #C3A0FF;
    --color-light-gray: #e7e7e7;
    --color-modal-bg: #000000cc;
    --color-menu-bg: #000000fa;
    --color-card-bg: #121212;
    --color-input: #151515;
    --color-data-bg: #181818;
    --color-card-label: #898989;
    --color-icon: #4f4f4f;
}

@font-face {
    font-family: 'Akatab-Black';
    src: url('./fonts/Akatab-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-Bold';
    src: url('./fonts/Akatab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-ExtraBold';
    src: url('./fonts/Akatab-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-Medium';
    src: url('./fonts/Akatab-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-Regular';
    src: url('./fonts/Akatab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Akatab-SemiBold';
    src: url('./fonts/Akatab-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Michroma';
    src: url('./fonts/Michroma-Regular.ttf') format('truetype');
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-purple);
}


/*TO DO: for enhancement, please make a block for defaults*/
body {
    font-family: 'Akatab-Regular', sans-serif;
}

button {
    cursor: pointer;

    &:disabled {
        background-color: var(--color-card-label);
        color: var(--color-light-dark);
        cursor: not-allowed;
    }
}

/*TO DO: add hover color to icons */
/*TO DO: add transition/ animation */

.nav-icon {
    @apply size-12 bg-cover flex justify-end;
}

.close {
    @apply flex justify-end flex-none h-15;
}

.menu-wrapper {
    @apply flex flex-col justify-center bg-black/70 h-screen backdrop-blur-lg absolute inset-0 p-8;
    z-index: 100;

    .nav-items {
        @apply flex flex-col flex-1 justify-center text-white text-center gap-5 cursor-pointer;

        .nav-item {
            @apply cursor-pointer hover:text-light-purple;
        }
    }
}

.container-nav {
    @apply flex-none;
}

.container-toolbar {
    @apply flex-none h-15 justify-center items-center;
}

.container-body {
    @apply flex-1 overflow-auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-purple);
}

.page-main {
    @apply flex flex-col h-dvh bg-dark p-5;
    font-family: 'Akatab-Regular', sans-serif;
}

.page-body {
    @apply h-full;
}

.setting-item {
    @apply flex flex-col justify-center bg-modal-bg/100 max-h-72 absolute p-8 items-center gap-4;
    min-width: 15%;
    max-width: 100%;
    z-index: 100;
    right: 50px;
    bottom: 130px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #1a1a1a;

    .button {
        @apply w-32 h-auto p-3 flex items-center justify-center text-sm rounded-lg gap-2 bg-data-bg text-light-gray;
        font-family: 'Akatab-Bold', sans-serif;
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
        &:hover {
            @apply bg-card-bg/100;
            cursor: pointer;

        }
    }
}

.button {
    @apply min-w-20 sm:w-40 h-auto p-3 flex items-center justify-center text-sm rounded-md gap-2;
    font-family: 'Akatab-Bold', sans-serif;

    .cancel {
        @apply h-3.5 w-6 pb-0;
    }

}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--color-light-dark);
    outline: none;
    transition: background 0.15s ease-in-out;
}

/* Webkit (Chrome, Edge, Safari) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--color-purple);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    top: -2px;
    position: relative;
}

/* Track Color Before Thumb */
input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 5px;
    background-color: var(--color-light-dark);
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: var(--color-purple);
}

input[type="range"]::-moz-range-progress {
    background: var(--color-purple);
}

.error-msg {
    color: var(--color-purple);
    text-align: center;
}

.loading-msg {
    color: var(--color-light-purple);
    text-align: center;
}

.settings-icon {
    @apply size-15 bg-cover flex justify-center items-center;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background: var(--color-menu-bg);
    border-radius: 50%;
    border: 1px solid #242424;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:hover {
        @apply bg-menu-bg/80;
        background: var(--color-dark);
        border: 1px solid #373737;
        box-shadow: 0 3px 3px 3px rgb(0 0 0 / 47%);
    }
}

/* Animation */
.fade-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

